<div class="content" role="main">
  <div class="row">
    <div class="col-2">
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"
                      (select)="onDateSelect($event)"></ngb-datepicker>
    </div>
    <div class="col-2">
      <ngb-timepicker [(ngModel)]="timeModel" [seconds]="true" (ngModelChange)="onTimeChange($event)"></ngb-timepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>{{gety()}}-{{getM()}}-{{getd()}} &rarr; {{geth()}}:{{getm()}}:{{gets()}} &rArr; {{zone[0]}}
        &rarr; {{zone[1]}}</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <h3>{{zone[0]}}</h3>
      <h2>{{times[0]}}</h2>
      <br>
      <h3>{{zone[1]}}</h3>
      <h2>{{times[1]}}</h2>
    </div>
    <div class="col-6">
      <h3>{{zone[0]}}</h3>
      <h2>{{ifc[0]}}, {{dec[0]}}</h2>
      <br>
      <h3>{{zone[1]}}</h3>
      <h2>{{ifc[1]}} {{dec[1]}}</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <h3>{{zone[0]}}</h3>
      <h2>{{times[2]}}</h2>
      <br>
      <h3>{{zone[1]}}</h3>
      <h2>{{times[3]}}</h2>
    </div>
    <div class="col-6">
      <h3>{{zone[0]}}</h3>
      <h2>{{ifc[2]}} {{dec[2]}}</h2>
      <br>
      <h3>{{zone[1]}}</h3>
      <h2>{{ifc[3]}} {{dec[3]}}</h2>
    </div>
  </div>
</div>
